.document {
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  width: 100%;
}

.heading {
  border-bottom: gray 1px solid;
  padding: 0.5em;
  width: 100%;
  display: none;
}

.heading .text {
  display: inline-block;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 0.2em;
  padding: 0.1em 0.2em 0.01em 0.2em;
}

.marker {
  font-weight: bolder;
  font-size: 0.9em;
}

.marker.c .digit {
  font-size: 2em;
  color: initial;
}

.marker.c, .marker.v {
  color: blue;
}

.marker.v {
  font-size: 0.9em;
  vertical-align: super
}

.marker.v .digit {
  color: initial;
}

.marker.p, .marker.s, .marker.s1, .marker.s2, .marker.s3, .marker.s4, .marker.s5, .marker.ts {
  color: green;
}

.pseudo-block.s {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0.05em 0.2em;
}

.footnote, .endnote {
  font-weight: lighter;
  font-size: small;
  vertical-align: super;
}

.f {
  color: orange;
}

.fe {
  color: coral;
}

.fk, .ft, .fr {
  color: orangered;
}

.w, .zaln-s, .zaln-e {
  color: purple;
}

.tr, .tl {
  color: red;
}

.attribute {
  font-size: 0.8em;
  font-style: italic;
}

.block {
  border-bottom: gray 1px solid;
  padding: 0.05em 0.2em;
}